<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <%- include('./partials/navbar.js')%>

    <div class="container">
    <div class="row">
        <div class="col">
            <a href='/movies/<%= movie.id %>'><%= movie.title %></a><br>
            <img src="<%= movie.poster %>">
        </div>
        <div class="col">
            <%= movie.dataValues.year %><br>
            <%= movie.dataValues.rated %><br>
            <%= movie.dataValues.released %><br>
            <%= movie.dataValues.runtime %><br>
            <%= movie.dataValues.genre %><br>
            <%= movie.dataValues.director %><br>
            <%= movie.dataValues.writer %><br>
            <%= movie.dataValues.actor %><br>
            <%= movie.dataValues.plot %><br>
            <%= movie.dataValues.languages %><br>
            <%= movie.dataValues.country %><br>
            <%= movie.dataValues.awards %><br>
        </div>
    </div>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/movies/<%= movie.dataValues.id %>/add-review'">Review This Movie</button>
    </div>
    <% movie.dataValues.Reviews.forEach(review => { %>
    <div class="card">
    <h5 class="card-header"><%= review.dataValues.rating %></h5>
    <div class="card-body">
        <h5 class="card-title">
            <%= review.dataValues.reviewTitle %><br>
            <%= review.dataValues.User.username%>
        </h5>
        <p class="card-text"><%= review.dataValues.description %></p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
    </div>
    <% }) %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>